<div>
{if count($zestaw) > 0}
    <h3>Wybrany zestaw</h3>
    <ul class='mjwariantowosc_user_set'>
        {foreach from=$zestaw item=z}
            <li>
                {$z}
            </li>
            {/foreach}

    </ul>
{/if}
</div>