{if trim($message) != ''}
<div class='col-lg-12'>
<div id="mjwariantowosc" class="panel">
    <div class="panel-heading">
        <i class="icon-shopping-cart"></i>
        Produky w wariantach
    </div>

    {$message nofilter}
</div>
    </div> {/if}