.slider-container .back-bar {
	height: 7px;
	position: relative;
	background: #EEE;
	border-radius: 5px;
}
.slider-container .back-bar .selected-bar {
	position: absolute;
	height: 100%;
	background: #CCC;
}
.slider-container .back-bar .pointer {
	position: absolute;
	top: -5px;
    margin-left: -1px;
	width: 16px;
	height: 16px;
	border-radius: 100%;
	background: #E7E7E7;
	cursor: pointer;
	z-index: 2;
	border: 1px solid #AAA;
	touch-action: none;
}
.slider-container .back-bar .pointer:before {
	content: ''; /* increase touch area for better response */
	position: absolute;
    width: 40px;
    height: 40px;
    top: -12px;
    right: -12px;
}
.slider-container .back-bar .pointer.last-active {
	z-index: 3;
}
.slider-container .clickable-dummy {
	cursor: pointer;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.slider-container .scale {
	display: none;
}
.slider-container.slider-readonly .clickable-dummy,
.slider-container.slider-readonly .pointer {
	cursor: auto;
}
/* since 2.8.3 */
