/*
 * Module MjInpost
 * @author MAGES Michał Jendraszczyk
 * @copyright (c) 2020, MAGES Michał Jendraszczyk
 * @license http://mages.pl MAGES Michał Jendraszczyk
 */

.widget-modal {
    background:#fff !important;
}
.widget-modal #easypack-search {
    font-size:16px;
}
.widget-modal .point-wrapper p {
    color:#fff;
}