{*
* 2018 Areama
*
* NOTICE OF LICENSE
*
* This source file is subject to the Academic Free License (AFL 3.0)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/afl-3.0.php
* If you did not receive a copy of the license and are unable to
* obtain it through the world-wide-web, please send an email
* to license@areama.net so we can send you a copy immediately.
*
*
*  @author Areama <contact@areama.net>
*  @copyright  2018 Areama
*  @license    http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
*  International Registered Trademark & Property of Areama
*}
<div id="arlsf-notification" class="{if $generalConfig->product_thumb}{if $secondImage}has-second-image{/if}{else}has-no-image{/if}">
    <div class="arlsf-inner">
        {if $generalConfig->product_thumb}
            <div class="arlsf-image" style="background-image: url('{$link->getImageLink($product->link_rewrite, $id_image, $generalConfig->product_thumb)|escape:'htmlall':'UTF-8'}')">
                {if isset($generalConfig->stars) AND $generalConfig->stars}
                    <div class="arlsf-stars"></div>
                {/if}
                {if $generalConfig->link_on_image and $product->active}
                    <a href="{$productUrl|escape:'htmlall':'UTF-8'}"></a>
                {/if}
            </div>
            {if $secondImage}
                <div class="arlsf-image second-image" style="background-image: url('{$link->getImageLink($product->link_rewrite, $secondImage, $generalConfig->product_thumb)|escape:'htmlall':'UTF-8'}')">
                    {if isset($generalConfig->stars) AND $generalConfig->stars}
                        <div class="arlsf-stars"></div>
                    {/if}
                    {if $generalConfig->link_on_image and $product->active}
                        <a href="{$productUrl|escape:'htmlall':'UTF-8'}"></a>
                    {/if}
                </div>
            {/if}
        {/if}
        <div class="arlsf-content">
            {if $line1}
                <p class="arlsf-line-1">
                    {$line1 nofilter}{* Its may be an HTML generated by ArLsfStringComposer class *}
                </p>
            {/if}
            {if $line2}
                <p class="arlsf-line-2">
                    {$line2 nofilter}{* Its may be an HTML generated by ArLsfStringComposer class *}
                </p>
            {/if}
            {if $line3}
                <p class="arlsf-line-3">
                    {$line3 nofilter}{* Its may be an HTML generated by ArLsfStringComposer class *}
                </p>
            {/if}
            {if $line4}
                <p class="arlsf-line-4">
                    {$line4 nofilter}{* Its may be an HTML generated by ArLsfStringComposer class *}
                </p>
            {/if}
            {if $line5}
                <p class="arlsf-line-5">
                    {$line5 nofilter}{* Its may be an HTML generated by ArLsfStringComposer class *}
                </p>
            {/if}
        </div>
        {if $generalConfig->whole_link and $product->active}
            <a class="arlsf-whole-link" href="{$productUrl|escape:'htmlall':'UTF-8'}"></a>
        {/if}
        {if $generalConfig->close_btn}
            <button {if $generalConfig->close_btn_bg}style="background-color: {$generalConfig->close_btn_bg|escape:'htmlall':'UTF-8'}"{/if} class="arlsf-close-button {if $generalConfig->close_btn_position == 'inside'}arlsf-close-button-inside{else}arlsf-close-button-outside{/if} {if $generalConfig->close_btn_style == 'round'}arlsf-close-button-rounded{/if}">
                <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z"></path></svg>
            </button>
        {/if}
    </div>
</div>