{*
 * PayU
 *
 * @author    PayU
 * @copyright Copyright (c) 2016 PayU
 * @license   http://opensource.org/licenses/LGPL-3.0  Open Software License (LGPL 3.0)
 *
 * http://www.payu.com
*}

<div class="box" id="payuRetryPayment17">
	<p class="payment_module_17">
		<a class="payu" href="{$payuActionUrl|escape:'htmlall':'UTF-8'}" title="{l s='Retry pay with PayU' mod='payu'}">
			<img src="{$payuImage|escape:'htmlall':'UTF-8'}" alt="{l s='Retry pay with PayU' mod='payu'}" />
			{l s='Retry pay with PayU' mod='payu'}
		</a>
	</p>
</div>

