.process-icon-help
{
    background-image: url("../img/toolbar/help.png");
}

.process-icon-settings
{
    background-image: url("../img/toolbar/setting_tools.png");
}

.process-icon-csv
{
	background-image: url("../img/toolbar/csv_tools.png");
}

.process-icon-arrange_pickup
{
	background-image: url("../img/toolbar/arrange_pickup.png");
}

.process-icon-packages_list
{
	background-image: url("../img/toolbar/packages_list.png");
}

.process-icon-manifest_list
{
	background-image: url("../img/toolbar/manifest_list.png");
}

.process-icon-add_new
{
	background-image: url("../img/toolbar/process-icon-new.png");
}

.process-icon-parcel_history_list
{
	background-image: url("../img/toolbar/parcels_history.png");
}

.process-icon-country_list
{
	background-image: url("../img/toolbar/shipment_countries.png");
}

.process-icon-sender_address
{
	background-image: url("../img/toolbar/sender_address.png");
}

/* hides prestashop help button */
li.help-context-AdminModules, li.help-context-adminmodules
{
    display: none !important;
}

#custom_web_service_container
{
	display: none;
}

p.connection_message
{
	display: none;
}

.csv_information_block
{
	margin-left: 100px;
}

img.pagination_image
{
	margin-bottom: 4px;
}

table#packages_list tr.nodrag.nodrop a,
table#packages_list tr.nodrag.nodrop a:hover,
table#manifests_list tr.nodrag.nodrop a,
table#manifests_list tr.nodrag.nodrop a:hover,
table#parcel_history_list tr.nodrag.nodrop a,
table#parcel_history_list tr.nodrag.nodrop a:hover,
table#country_list tr.nodrag.nodrop a,
table#country_list tr.nodrag.nodrop a:hover,
table#sender_address_list tr.nodrag.nodrop a,
table#sender_address_list tr.nodrag.nodrop a:hover
{
	text-decoration: none;
}

.payment_modules_container
{
	border: 1px solid #CCCCCC;
	width: auto;
	float: left;
	padding: 10px;
}

.payment_modules_container label
{
	width: auto;
	float: none;
}

form table#country_list,
form table#manifests_list,
form table#sender_address_list,
form table.sender_address_list
{
	width: 100%;
}

#help_container a
{
	text-decoration: underline;
}

#help_container a:hover
{
	text-decoration: none;
}

#zones_table_container,
#client_numbers_table_container,
#csv_list_table_container
{
	overflow-x: auto;
	overflow-y: hidden;
}

#ws_url p.help-block
{
	word-break: break-all;
}

.relative
{
	position: relative;
}

.hidden-element
{
	display: none;
}

.visible-element
{
	display: block;
}

.float-left
{
	float: left;
}

.add-client-number-button-container
{
	float: left;
	margin-left: 20px;
}

#configuration_form #zones_table
{
	max-width:100%;
}

.bottom
{
	vertical-align: bottom;
}

.float-right
{
	float: right;
}

table.table.Countries,
table.table.document,
table.table.Manifests,
table.table.Packages,
table.table.ParcelHistories
{
	width: 100%;
	margin-bottom:10px;
}

table.table.document.numbers-table
{
	width: 90%;
	margin-bottom:10px;
}

table tr.titles-row
{
	height: 40px;
}

table tr.filter-row
{
	height: 35px;
}

table tr.filter-row input
{
	width: 95%;
}

table tr.filter-row .right input
{
	width: 70px;
}

td.no-border
{
	border: none;
}

.manifest-list-buttons,
.packages-list-buttons,
.parcel-history-list-buttons
{
	white-space: nowrap;
}

#current_obj
{
	font-weight: normal;
}

#current_obj img
{
	margin-right:5px;
}

#navbar-collapse ul li a span
{
	margin-right: 5px;
}

.payer-number-delete-button
{
	cursor: pointer;
}

.list-style-type-circle
{
	list-style-type: disc;
	padding-left: 40px;
}

#content_header img
{
	float: left;
	margin-right: 20px;
	margin-bottom: 8px;
}

#content_header p.description
{
	float: left;
}