/**
 * Main css of module mjautocloseproduct
 * @author Michał Jendraszczyk
 * @copyright (c) 2019, MAGES Michał Jendraszczyk
 * @license http://mages.pl mages.pl
 */

.mjcountdown {
        width: 100%;
    min-height: 32px;
    padding: 7px 0;
    background: #000000;
    top: 0px;
    color:#ffffff;
    text-align: center;
    z-index: 9999;
    position: fixed;
}
.mjcountdown_discount {
    color:#d2382d;
    font-weight: 900;
}
.mjcountdown_code {
    border: 1px dashed;font-weight: bold;padding: 0 5px;
}
@media(max-width:767px) {
    body {
    margin-top: 50px;
}
}
@media(min-width:768px) {
    body {
    margin-top: 30px;
}
}
.odliczanie {
    display: inline-block;
}
@media(max-width:991px) {
    .mjcountdown {
        top:50px !important;
    }
}