/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|Muli:400,700&display=swap&subset=latin-ext');
body {
font-family: 'Muli', sans-serif;
}
h1,h2,h3,h4,h5,h6, .h1 {
    font-family: 'DM Serif Display', serif;
    font-weight: 500;
}
a {
    color: #4faaa4;
}
h1 {
    font-size: 36px;
}
img {
    max-width: 100%;
}
p {
    color: #000;
}
.m-25 {
    margin: 25px 0;
}
.mt-10 {
    margin-top:10px;
}
.black-text {
    color:#000;
}
.italic {
    font-style: italic;
}
.green-text {
    color: #4faaa4;
}
.text-center {
    text-align: center;
}
.form-control {
    background:transparent;
}
.form-control-select,
.form-control:disabled, .form-control[readonly] {
    background-color: transparent;
}
@media (min-width: 1200px) {
.container {
    width: 1200px;
    max-width: 100%;
}
}
.btn.btn-secondary {
    text-transform: uppercase;
    font-size:  14PX;
    padding: 20px 36px;
    background: #000;
    box-shadow: none;
    color: #fff;
}

.btn.btn-primary {
    box-shadow:none;
    background:#00a9a4;
    text-transform: uppercase;
    font-size:  14PX;
    padding: 20px 36px;
    white-space: normal !important;
}
.row-description {
    display: block;
    margin: 50px 0;
}
.card, .block-categories, #pagenotfound .page-not-found, #products .page-not-found,
.product-images>li.thumb-container>.thumb,
.color, .custom-checkbox input[type=checkbox]+span.color
{
    box-shadow: none;
}
#wrapper {
    background: #fff;
}
/* top */
#header .header-nav #_desktop_contact_link #contact-link,
#header .header-nav .language-selector,
#header .header-nav .currency-selector,
#header .header-nav .user-info {
    margin: 10px 0;
}
#header {
    margin: 0 0 32px 0;
    border-bottom: 1px solid #eee;
}
.top-menu .sub-menu ul[data-depth="1"]>li {
    float:none;
}
#index #header {
    margin:0;
}
.block-categories .category-sub-menu li[data-depth="0"]>a {
    text-transform: uppercase;
    font-weight: 400;
    border-bottom: 0px;
}
#header .header-nav {
    background:#00a9a4;
    color:#fff;
    border: 0px;
}
.products-sort-order .select-title {
    box-shadow:none;
}
.dropdown-menu a, 
a.dropdown-item 
{
    color: #000 !important;
}
#header a:hover, .dropdown:hover .expand-more {
    color: #fff;
}
/*#index*/
 #wrapper {
    padding-top: 0;
}
#wrapper, #products .thumbnail-container, .carousel {
    box-shadow: none;
}

@media(min-width:1200px) {
#carousel .carousel-inner {
height:100%;
    margin-bottom: 0px !important;
}
}
@media(max-width:1199px) {
#carousel .carousel-inner {
max-height:580px;
    margin-bottom: 0px !important;
}
}

#header .header-top {
        text-align: right;

}
#header #_desktop_cart {
    display: inline-block;
    color:#000;
}
#header .search_module {
    display: inline;
    position: relative;
    
}
@media(max-width:991px) {
    #header .search_module {
        display: block;
        margin-top:0px;
    }
}
#header .search_module .green-text {
    cursor: pointer;
}
#header #search_widget {
    position: absolute;
    max-width: 200px;
    left: auto;
    right: 0;
    z-index: 2;

}
.carousel {
    margin-bottom: 0px;
}
.carousel .direction {
/*    display:none;*/
}
.search_module.open #search_widget {
    display:block !important;
}
.search_module #search_widget {
    display:none;
}
#header .top-menu .sub-menu {
    top:68px !important;
}
.carousel .carousel-item .caption {
    top:50%;
    transform: translateY(-50%);
}
#header .menu {
    margin: 0;
    padding: 8px 0 0 0;
}
#header .header-nav .blockcart {
    background: transparent;
}
#header a, .dropdown .expand-more, .dropdown, #header .header-nav .cart-preview .shopping-cart {
    color: #fff;
}
#header .header-top a[data-depth="0"] {
    color: #000;
    padding-bottom:37px;
}
.top-menu a.dropdown-submenu { 
font-weight:400;
}
/* content */
.products-sort-order .select-list:hover {
    background: #4faaa4;
    color: #fff !important;
}
.page-addresses .address, .page-authentication #content {
    box-shadow: none;
}
.category-top-menu .text-uppercase.h6,
#search_filters .facet .facet-title {
    font-family: 'DM Serif Display', serif;
    color: #000;
    font-size: 24px;
    font-weight: 500;
}
#products .thumbnail-container, .featured-products .thumbnail-container, .product-accessories .thumbnail-container, .product-miniature .thumbnail-container {
    box-shadow: none;
}
.block_quote {
    font-style: italic;
    display: block;
    font-size: 30px;
    font-family: 'DM Serif Display', serif;
    margin: 50px 0;
    float: left;
    line-height: 32px;
    text-align: center;
}
/* home */
.dystrybutor .row {
    padding:25px 0;
}
.dystrybutor {
    padding:50px;
    background-image: url('../img/home_banner_dystrybutor.png');
}
.dystrybutor img {
    max-height: 80px;
    width: auto;
    max-width: auto;
}

.dystrybutor h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}
@media(min-width:992px) {
.oferta, .produkty, .opinie {
    padding:50px;
}
}
.oferta .plyny {
    background-image: url('../img/home_banner_plyny.png');
}
.oferta .detal {
    background-image: url('../img/home_banner_detal.png');
}
.oferta .urzadzenia {
    background-image: url('../img/home_banner_urzadzenia.png');
}
.oferta .box {
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 50px;
    position: relative;
    display:block;
}
.oferta .box .btn.btn-primary {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
}
.oferta h2 {
    font-size: 36px;
}
.oferta .box a {
    margin-top: 350px;
}
.oferta h2 {
    color:#fff;
}
.author_reviews {
    font-weight: 700;
    color: #4faaa4;
    padding-bottom:50px;
}
.content_reviews {
            padding: 100px 0 50px 0;
    position: relative;
    font-style: italic;
    font-family: 'DM Serif Display', serif;
    font-weight: 700;
    font-size: 30px;
    line-height: initial;
}
.content_reviews:before, .content_reviews:after {
    content: " ";
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: -1;
    bottom:0;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/home_logo_quote.png);
}
.content_reviews:after {
    top: 0px;
    right: 0px;
    bottom:auto;
}
.banner-szkolenia
{
        background-position: center;
    background-image: url(../img/home_banner_szkolenia.png);
    background-size: cover;
}
.banner-szkolenia > div {
        display: flex;
    min-height: 450px;
    align-items: center;
    color: #fff;
}
.block_newsletter > div {
    background:#fff;
    padding:50px;
}
.block_newsletter {
    border: 10px solid transparent;
    text-align: center;
    background-image: url(../img/newsletter_border_top.png);
    margin: 25px 0;
    background-size: auto;
/*    padding: 50px;*/
}
.block_newsletter h1, .block_newsletter #block-newsletter-label {
    font-size: 36px;
}
.block_newsletter .btn.btn-primary {
    padding:inherit;
}
/* product */
.btn-comment, .btn-comment-inverse {
    box-shadow: none;
}
.product-prices .tax-shipping-delivery-label {
    display: block;
    color: #000;
    font-weight: 700;
    font-size: 15px;
}
article.product-miniature.js-product-miniature {
    border: 10px solid #d7d7d7;
    margin: 1% !important;
    width: 22.8%;
}
#new-products article.product-miniature.js-product-miniature,
#prices-drop article.product-miniature.js-product-miniature
{
    width: 30.3%;
    margin:1% auto;
}
#products .highlighted-informations, .featured-products .highlighted-informations, .product-accessories .highlighted-informations, .product-miniature .highlighted-informations, 
.thumbnail-container,
#products .product-description, .featured-products .product-description, .product-accessories .product-description, .product-miniature .product-description {
    max-width: 100%;
}
#products .highlighted-informations, .featured-products .highlighted-informations, .product-accessories .highlighted-informations, .product-miniature .highlighted-informations {
    box-shadow: none;
}
article.product-miniature.js-product-miniature:hover {
    border-color: #00a9a3;
}
.product-cover img {
    box-shadow: none;
}
#category article.product-miniature.js-product-miniature,
#product article.product-miniature.js-product-miniature {
    width:31%;
    margin: 1%;
}
.blockcart a {
    color: #000 !important;
}
#search_filters, #search_filters_brands, #search_filters_suppliers {
    box-shadow: none;
}
.product-flags li.product-flag {
    box-shadow: none;
    font-size: 12px;
    background: #4faaa4;
}
.social-sharing li, #product #block-reassurance, .tabs,
.product-variants>.product-variants-item select,
.bootstrap-touchspin {
    box-shadow: none;
}
#product h1.h1 {
        font-size: 48px;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    color:#000;
    text-transform: none;
}
.product-quantity .qty {
    width: 25%;
}
.product-add-to-cart .add {
    width:70%;
}
button.btn.btn-primary.add-to-cart {
    padding: 0 20px;
    width:100%;
}
div#js-product-list-header {
/*    display:none;*/
}
#left-column .block-categories, #left-column #search_filters {
    padding: 0;
}
.product-price {
    color: #000;
    display: inline-block;
    font-size: 36px;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
}
/* footer */
.footer-container {
    padding: 20px 0 0 0;
    box-shadow: none;
}
.footer-container .logo {
    max-height: 32px;
}
.copy {
        padding: 25px 0;
}
.contact-footer {
    display:flex;
    position: relative;
    flex-flow: column;
    overflow: hidden;
}
.row.contact-footer:before {
    width: 100%;
    content: " ";
    height: 100%;
    position: absolute;
        background-size: cover;
    background-position: center;
    background-image: url('../img/list_contact_image1.png');
}
.row.contact-footer:after {
    width: 0%;
    content: " ";
    height: 100%;
    right: 0;
    min-height: 0px;
    position: absolute;
/*       background-image: url('../img/list_contact_image2.png');*/
}
.contact-footer .box {
    padding:75px 0;
}
/* cart */
#blockcart-modal .cart-content p.cart-products-count {
    color:#000;
}
#blockcart-modal .product-name {
    color: #000000;
    font-size: 1.125rem;
    font-family: 'DM Serif Display', serif;
    font-style: italic;
} 
#cart .card.cart-summary {
    background: #ebebeb;
}

#blockcart-modal .cart-content p.product-total {
    background-color: transparent;
}
.card-block.cart-summary-totals .cart-summary-line.cart-total {
    background:transparent;
}
#cart .cart-grid-body .card-block h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 36px;
    text-transform: none;
}
.cart-summary-line .label {
    font-weight: 600;
    
    color: #000;
    font-size: 15px;
}
.card-block.cart-summary-totals .cart-summary-line.cart-total .value {
    color: #4faaa4;
    font-size: 32px;
}
#cart .separator {
    margin: 0;
    border:0px;
    height: 1px;
    display: block;
    background: #fff;
}
.product-line-grid-body>.product-line-info>.label {
    font-style: italic;
    
    font-size: 20px;
    font-weight: 400;
    font-family: 'DM Serif Display', serif;
}
.cart-item .current-price {
    font-size: 24px;
    color: #4faaa4;
    margin: 10px 0;
}
.cart-item span.product-price {
    font-size: 24px;
}
.card.cart-summary {
    border: 0px;
}
body#checkout section.checkout-step {
    box-shadow: none;
}

/* checkout */
body#checkout #footer {
     box-shadow: none;
     padding: 0; 
     background: transparent; 
    color: #000;
}
body#checkout #header .header-nav {
    max-height: inherit; 
    padding: inherit;
     border: inherit;
     margin-bottom: inherit;
     box-shadow: none;
}
body#checkout #header .header-nav #_desktop_contact_link #contact-link {
margin-top: .9375rem;
}
#js-checkout-summary {
    border:0px;
        background: #ebebeb;
}

/* kontakt */
#contact #content {
    border:0px;
}
 
#contact .page_header, #cms .page_header {
    height: 400px;
    display: flex;
    align-items: center;
    color: #fff;
    background-size: cover;
    justify-content: flex-start;
    padding: 50px;
    
}
#contact .page_header { 
 background-image: url(../img/contact_image_main.png);
 }
 #cms .page_header { 
 background-image: url(../img/about_image_main.png);
 }
#contact .contact-rich .icon {
        display: block;
    float: none;
    text-align: center;
    margin: 10px auto;
    
}
.contact-rich .data { 
line-height: 24px;
margin-top:15px;
}
#contact .contact-rich img{ 
height: 64px;
}
 
.block-social ul li, 
.block-social ul li:hover {
    background-color: transparent;
}
.block-social ul li {
    height: 22px;
    width: 22px;
    background-size: contain;
margin:10px 0;
padding: 0px;
}
.block-social ul {
    padding-bottom:0px;
}
#header .block-social {
    display:inline-block;
}
.bootstrap-touchspin .group-span-filestyle .btn-touchspin, .group-span-filestyle .bootstrap-touchspin .btn-touchspin, .group-span-filestyle .btn-default {
    background: #4faaa4;
}
.contact-rich {
    text-align: center;
    color:inherit;
}
.contact-rich > div { 
padding:50px 0; 
}
#contact .breadcrumb, #cms .breadcrumb { 
display:none; 
}
#contact #header, #cms #header {
    margin: 0 0 0px 0;
}
@media(max-width:991px) {
    
    .oferta .box {
    margin: 0 0 100px 0;
    }
    .dystrybutor, .oferta {
        text-align:center;
    }
     #header > nav > div > div > div.hidden-sm-down > div.col-lg-7.col-md-12.col-xs-12 {
        text-align: center;
    }
    .right-nav {
            justify-content: center !important;
    }
}
@media (max-width: 767px) {
    .wspolpraca_block .block_newsletter {
        background-size: auto;
        padding: 0px 0;
    }
    .wspolpraca_block .col-md-4 img {
        height:auto !important;
    }
    #newsletter_block input[name=submitNewsletter]
    {
            width: auto !important;
        padding: 0 15px !important;
        margin: 0;
        width: 20px;
        text-align: center !important;
    }
   .facet .h6.facet-title + .float-xs-right {
        position:absolute;
    }
    .js-top-menu-bottom {
        background: #4faaa4;
        color: #fff;
        text-align: center;
    }
    article.product-miniature.js-product-miniature {
        width:100%;
    }
    #mobile_top_menu_wrapper .top-menu {
        text-align: left;
    }
    #products .thumbnail-container .product-description, .featured-products .thumbnail-container .product-description, .product-accessories .thumbnail-container .product-description {
        box-shadow:none;
    }
    .product-description {
/*        overflow: hidden;*/ 
/*żeby nie ucinało buttona (zobacz)*/
    }
    #category article.product-miniature.js-product-miniature, #product article.product-miniature.js-product-miniature {
        width: 100%;
    }
    #products .thumbnail-container, .featured-products .thumbnail-container, .product-accessories .thumbnail-container, .product-miniature .thumbnail-container {
        margin:auto;
    }
#header .header-nav .user-info .logged {
    color: #fff;
}
#header .header-nav .top-logo a img,
#header .header-nav .cart-preview img{
    filter:invert(1) grayscale(1);
    
}
#header .header-nav .top-logo a img {
/*height: 30px;*/
}
.top-logo {
    display: inline-block;
    max-width: 90px;
    margin: 2px 0;
    padding: 0;
}

#header .header-nav .cart-preview.active a, #header .header-nav .cart-preview.active i {
    color:#fff !important;
}
#header .header-nav .cart-preview.active {
    background: transparent;
}
#header .header-nav #_desktop_contact_link #contact-link, #header .header-nav .language-selector, #header .header-nav .currency-selector, #header .header-nav .user-info {
    margin: 15px 0;
}
#header #search_widget {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0 0 10px 0;
}
#header .search_module .green-text {
    display:none;
}
.row.contact-footer:after {
    width: 100%;
    z-index: -1;
    position: relative;
}
.row.contact-footer:before {
    width: 100%;
    z-index: -1;
}
}
@media(min-width:768px) and (max-width:991px) {
    #category article.product-miniature.js-product-miniature, #product article.product-miniature.js-product-miniature
     {
        width:49%;
    }
    .thumbnail-container
    {
            margin: auto;
    }
    article.product-miniature.js-product-miniature {
        width:48%;
    }
}
.tax-shipping-delivery-label {
    display:none;
}
#product-modal .modal-content .modal-body .product-cover-modal {
        background: #fff;
    max-width: 100%;
    max-height: 100vh;
    width: auto !important;
}
#product-modal .modal-content .modal-body {
    left: 50%;
    right: -50%;
    flex-wrap: wrap;
    flex-flow:wrap;
    transform: translateX(-50%);
    margin-left:0% !important;
}
#product-modal .modal-content .modal-body .image-caption { 
width:auto !important;
display:none;
}


#header .header-top {
    padding-bottom: 0; 
}
#top-menu {
    margin-bottom: 0px;
}
#header .popover {
    min-width: 100%;
    position: absolute;
    right: 0px;
    width: 100% !important;
}
@media(min-width:992px) {
#_desktop_logo + div {
    position: relative !important;
}
}
#header ul.top-menu .top-menu .collapse {
    display: none;
}
/*.top-menu .sub-menu ul[data-depth="1"]>li {
    border-bottom: 1px solid #eee;
}*/
.top-menu .sub-menu ul[data-depth="1"]>li:hover img {
    display:block;
}
@media(min-width:768px) {
    .col-md-offset-2 {
    margin-left: 16.5% !important;
}
    #index .konfigurator .konfigurator_opcje li {
    display:inline-block;
    margin:15px 0;
}
    .wspolpraca_block .row {
    display: flex;
}
#index .konfigurator
{
    padding:50px;
}
#index .konfigurator h1 {
    font-size: 64px;
}
.top-menu .sub-menu ul[data-depth="1"]>li:hover .category_menu_description {
    display: block;
}
.image_menu {
    display:none;
    position: absolute;
    right: 45%;
    height: auto;
    max-width: 27%;
    top: 0px;
    max-height: 275px;
}
.top-menu .sub-menu ul[data-depth="1"]>li:after {
    content:" ";
    height: 1px;
    width:25%;
    background: #eee;
    position:absolute;
}
.category_menu_description {
    display: none;
    position: absolute;
    top:0px;
    padding: 25px;
    right: 0px;
    width: 45%;
    text-transform: none;
    overflow: hidden;
    max-height: 195px;
}
.category_menu_description > div {
    word-break: normal;
    white-space: normal;
}
#index .konfigurator .konfigurator_opcje li .caption h3
{
    position: absolute;
    text-transform: uppercase;
    font-size:24px;
    letter-spacing: 12px;
    width: 100%;
    top: 50%;
    font-family: sans-serif;
    transform: translateY(-50%);
    color: #fff;
}
}
@media(max-width:767px) {
    #index .konfigurator .konfigurator_opcje li .caption h3
    {
        position: absolute;
        text-transform: uppercase;
        font-size:15px;
        letter-spacing: 3px;
        width: 100%;
        top: 50%;
        font-family: sans-serif;
        transform: translateY(-50%);
        color: #fff;
        font-size: 15px;
    }
    #index .konfigurator .konfigurator_opcje li {
        margin:5px 0;
    }
    #index .konfigurator h1 {
        font-size:2.5rem;
    }
    #index .konfigurator .col-md-4 {
        width:49%;
    }
    #index .konfigurator .konfigurator_opcje li .caption h3 {
        font-size: 15px;
        letter-spacing: 3px;
        bottom: -25%;
        font-family: sans-serif;
        transform: translateY(-33%);
    }
    #header .header-nav .top-logo {
        /* padding-top:0px;*/
    }
    .image_menu, .category_menu_description{
        display: none !important;
    }
    #index .konfigurator .konfigurator_opcje li {
        display: inline-block;
        margin: 5px 0;
        padding: 0px;
    }
}
.top-menu a[data-depth="1"], .top-menu a[data-depth="2"] {
    padding: 0.3rem 0.3rem .3rem 0;
}

#contact .contact-rich a {
    color:inherit;
}
#contact .contact-rich strong {
    font-size: 26px;
    display:block;
    font-weight: 400;
    font-style: italic;
    font-family: 'DM Serif Display',serif;
}
.specials-box {
    display: flex;
}
.specials-box .col-lg-6 {
    padding: 0px 5px;
    display: flex;
    width: 50%;
}
.specials-box .inner-box {
    border:1px solid #eee;
    text-align: center;
    padding: 20px 5px;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    display: flex;
    width: 100%;
}
.specials-box .inner-box p  {
        margin: 0;
}
@media (min-width: 768px) and (max-width:1200px) {
.container {
    width: 90%;
}
}
@media(max-width:1199px) {
    .specials-box .col-lg-6 {
        width:100%;
        margin: 5px 0;
    }
    .specials-box {
        flex-wrap: wrap;
    }
}
.tabs .nav-tabs .nav-link.active,
.tabs .nav-tabs .nav-link.active, .tabs .nav-tabs .nav-link:hover{
    color: #4faaa4;
    border-bottom:0px;
}

.tabs .nav-tabs {
    text-align: center;
    border-bottom:0px !important;
}
.tabs .nav-tabs .nav-link {
    font-family: 'DM Serif Display', serif;
    font-size: 24px;
}
.tabs .nav-tabs .nav-item
{
    display: inline-block;
    text-align: center;
    float:none;
}
.nav-tabs .nav-item,
.nav-tabs .nav-item {
    text-align: center;
    float:none;
}
#product .featured-products h2 {
    text-align: center;
    font-size: 32px;
    line-height: inherit;
}
.block-categories .category-sub-menu .category-sub-link {
    margin-left:15px;
}
.quickview .modal-content {
    background:#fff;
}
.pagination .page-list {
    box-shadow: none;
}
#products .thumbnail-container, .featured-products .thumbnail-container, .product-accessories .thumbnail-container, .product-miniature .thumbnail-container {
    height:400px;
    margin:auto;
}
#products .product-description, .featured-products .product-description, .product-accessories .product-description, .product-miniature .product-description {
    height:125px;
}
#products .thumbnail-container:focus .highlighted-informations.no-variants, #products .thumbnail-container:hover .highlighted-informations.no-variants, .featured-products .thumbnail-container:focus .highlighted-informations.no-variants, .featured-products .thumbnail-container:hover .highlighted-informations.no-variants, .product-accessories .thumbnail-container:focus .highlighted-informations.no-variants, .product-accessories .thumbnail-container:hover .highlighted-informations.no-variants, .product-miniature .thumbnail-container:focus .highlighted-informations.no-variants, .product-miniature .thumbnail-container:hover .highlighted-informations.no-variants {
    bottom: 7rem;
}
#products .product-title, .featured-products .product-title, .product-accessories .product-title, .product-miniature .product-title {
    min-height: 40px;
}

@media (min-width: 576px) {
#product .modal-dialog {
    background: #fff;
    max-width: 90%;
    margin: 30px auto;
}
#product .modal-dialog figure {
    margin: 0 0 1rem;
    width: 80%;
    text-align: center;
}
#product-modal .modal-content .modal-body .thumbnails {
    position: relative;
    width: 20%;
}
}
#product .modal-dialog {
       top: 50%;
     bottom: 0%; 
    margin: 0;
    /* padding: 100%; */
    height: 100%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 100%;
}

.footer-container .h1 {
        text-transform: none;
    font-size: 36px;
}
.footer-container li a, .footer-container .block-contact {
    color:#000;
}
.product-description li {
    list-style: disc;
}
.badge-card { 
display: inline-block;
}
.inline {
    display:inline;
}
.middle {
    vertical-align: middle;
}
.inline-block {
    display: inline-block;
}
.margin0 {
    margin:0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}
.contact-rich .block .data {
    font-size: inherit;
}
#thumbnails{
        padding: 50px 0;
}
#product-modal .modal-body {
        margin: 0;
    padding: 0;
}
#product-modal .modal-body  figure {
    margin: 0;
}
#currency-selector-label {
        font-weight: 700;
    font-size: 20px;
}
#product-modal .modal-content .modal-body .arrows .arrow-down,
#product-modal .modal-content .modal-body .arrows .arrow-up{
    color:#000;
}
#product-modal .modal-content .modal-body .mask {
    position: relative;
    overflow: hidden;
    max-height: 60vh;
    margin-top: 2.188rem;
    z-index: 1;
}
@media (max-width: 991px) {
#product-modal .modal-content .modal-body .arrows {
    display: block;
}
}
@media (max-width: 767px) {
#product-modal .modal-content .modal-body .arrows {
    display: none;
}
}
#product-modal .modal-content .modal-body .arrows .arrow-down {
    bottom: 0;
}
.product-variants select { 
width:100% !important;
}
#thumbnails li {
    display: block;
}
#blockcart-modal .modal-dialog {
    background: none;
}
#blockcart-modal .modal-body {
    display:none;
}
.product-discounts>.product-discounts-title {
    font-weight: 700;
    font-size: 1rem;
    margin: 20px 0;
}
@media(min-width:992px) {
.marka-mineteam, .formula{
        display: flex;
    align-items: center;
}
}
.block-category {
    border:0px;
}
#header .header-top .menu {
    margin-bottom:0px !important;
}
.block-category .block-category-inner .category-cover img {
    width:inherit;
    height: inherit;
}
#products .thumbnail-container .product-thumbnail img, .featured-products .thumbnail-container .product-thumbnail img, .product-accessories .thumbnail-container .product-thumbnail img, .product-miniature .thumbnail-container .product-thumbnail img {
    margin:0 auto;
    max-height: 250px;
}
#products .product-title a, .featured-products .product-title a, .product-accessories .product-title a, .product-miniature .product-title a {
        font-style: italic;
    font-weight: 500;
    font-family: 'DM Serif Display', serif;
        color: #000;
    font-size: 1rem;
}
.page-cms-4 .row >h2 {
    margin:50px 0;
}
.page-cms-4 .col-md-6 {
    padding: 0 30px
}
@media(min-width:992px) {
.page-cms-4 > .row {
        display: flex;
    align-items: center;
}
}
.contact-infosh3 {
        margin: 0;
    padding: 0;
    font-size: 24px;
}
.form-control-label {
    text-align: left;
}
.category-cover {
    min-width: 25%;
    display:none;
}
.block_newsletter form input[type=email] {
    padding:25px;
    background:#eee;
    border:0px;
}
input[name=submitNewsletter] {
    padding: 0px 50px !important;
}
.block_newsletter form input {
    min-height: 50px;
}
.block_newsletter form input[type=email]:focus {
    padding: 7px 22px 7px;
}
#footer .block-social li {
    filter: invert(1);
}
.carousel-control.right {
    right:15px;
}
.carousel-control.left {
    left:15px;
}
.carousel-indicators .active {
    background-color: #000 !important;
}
.carousel-indicators li {
    border: 1px solid #000;
}
.opinie .carousel-indicators {
    bottom: -20px;
}
#products .product-price-and-shipping, .featured-products .product-price-and-shipping, .product-accessories .product-price-and-shipping, .product-miniature .product-price-and-shipping {
    color:#4faaa4;
}
.category_menu_description * {
    font-size: inherit !important;
}
.link-comment {
    cursor: pointer;
}
.mjwariantowosc_user_set li {
    list-style: disc !important;
    margin-left: 20px;
}
span.product-price.float-xs-right {
    font-size: 24px;
}
/*.product-accessories {
    display:none;
}*/
#mobile_top_menu_wrapper .top-menu .collapse.in {
    display: block !important;
}
.product-prices .tax-shipping-delivery-label .delivery-information:before {
    content: "";
    padding: 0px;
}
span.payu-installment-price-listing a {
    color: inherit !important;
    text-decoration: none !important;
}
.product-prices .tax-shipping-delivery-label .delivery-information {
    padding: 0px;
}
.col-md-6.col-xs-6.qty {
    min-height: auto;
}
@media (max-width: 1199px) {
#carousel .carousel-inner {
    height: auto;
}
}
@media(max-width:767px){
    #index .konfigurator {
        padding: 50px 0px;
    }
    .opinie .reviews {
        text-align: center;
    }
#carouselExampleIndicators {
    height:640px;
        text-align:center;
}
.wspolpraca_block .col-md-4, .wspolpraca_block .row {
        display:block;
    }
}
span#payu-installment-cart-summary a {
    color: inherit !important;
    text-decoration: none !important;
}
.product-miniature .payu-installment-price-listing {
    display:none;
}
.block-promo .promo-input {
    height:3.75rem;
}
.carousel-indicators li {
    background-color:#d7d7d7;
    border:0px;
}
.carousel-indicators .active {
    background-color:#00a9a4 !important;
    height:6px;
}
.carousel-indicators li {
    min-width: 30px;
    height:6px;
    border-radius:0px;
}
section.firma {
    background-image: url(../img/firma_footer.jpg);
    background-size:cover;
    text-align: center;
    padding:50px 0;
}
#index .konfigurator { 
    text-align: center;
    margin:25px 0;
    background-image: url(../img/konfigurator_bg.jpg);
}
#index .konfigurator h2 {
    margin:15px 0;
    font-style:italic;
    font-size:24px;
}
#index .konfigurator h3 {
    color: #00a9a4;
    font-size: 24px;
    margin: 25px 0;
}


@media(min-width:768px) {
    #index .konfigurator .konfigurator_opcje li .caption {
        display: flex;
    }
}
@media(min-width:768px) {
    #index .konfigurator .konfigurator_opcje li .caption {
        display: inlne-block;
    }
}
#index .konfigurator .konfigurator_opcje li .caption {
    cursor: pointer;
/*    min-height: 224px;*/
    height: auto !important;
    position: relative;
    background: #000;
}

.caption:hover img {
    opacity: 0.5;
}
#index .all-product-link {
    text-align: center;
    width: auto;
    background: #4faaa4;
    display: table;
    margin: auto;
    clear: both;
    color: #fff;
    padding: 15px;
    margin-top: 30px;
}
.krok2, .krok3 {
    display: none;
}
/* first in menu element always visible */
#category-3 > a:hover + .popover .top-menu li:nth-child(1) .image_menu, #category-3 > a:hover + .popover .top-menu li:nth-child(1) .category_menu_description {
    display: block;
}
.badge-success {
    background: #72c279;
}
.badge-danger {
    background: #e08f95;
}
.badge{
    color:#fff;
    
    border-radius: 10px;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: .0625em;
    line-height: inherit;
    padding: 1px 5px;
}
.wspolpraca_block .col-md-4 img {
    margin:auto;
    display:block;
}
.wspolpraca_block .col-md-4 {
    background-size: cover;
    background-position: center;
    background-image: url(../img/list_contact_image1.png);
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    position: relative;
    padding: 25px;
    padding-top: 120px;
    padding-bottom: 75px;
    text-align: left;
    font-family: 'DM Serif Display', serif;
}
.wspolpraca_block .col-md-4 h1 {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: #fff;
    font-style: italic;
    font-size: 90px;
    margin: -15px 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    padding: 0;
}

.cms-id-10 .page_header{
    background-image: url(../img/wspolpraca_banner.png) !important;
}

section.row.firma.green {
    position: relative;
}
section.row.firma.green:before {
    background: #4faaa4bd;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    content: " ";
    left: 0;
    top: 0;
} 

section.row.firma.green:after {
    background: #00000005;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    content: " ";
    width: 100%;
    height: 100%;
}
section.row.firma.green h1 {
    z-index: 2;
    position: relative;
    color: #fff;
} 
section.row.firma.green a{
    z-index: 2;
    position: relative;
    background: #fff;
    color: #000;
}
.wspolpraca_block .image_block {
    position: absolute;
    top: 15px;
    left: 15px;
}
#contact input[name=fileUpload] {
    display: none;
}
.top-logo h1 {
    line-height: inherit;
}
a.thumbnail.product-thumbnail:hover > img:nth-child(2) {
    opacity: 1 !important;
}
.wspolpraca_block .block_newsletter > div {
    margin:0;
}
.wspolpraca_block .block_newsletter .col-md-4 {
    background: none;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}
.wspolpraca_block .column1 {
    text-align: center;
    color:#fff;
    padding:25px;
    background-image: url(../img/wspolpraca_column_1.jpg)
}
.wspolpraca_block .column1 .link {
    color:#00a9a3;
}
.wspolpraca_block .column2 {
    text-align: center;
    color:#000;
    padding:25px;
    background-image: url(../img/wspolpraca_column_2.jpg)
}
.wspolpraca_block .column3 {
    text-align: center;
    color:#fff;
    padding:25px;
    background-image: url(../img/wspolpraca_column_3.jpg)
}

.wspolpraca_block .column1 h1,
.wspolpraca_block .column2 h1,
.wspolpraca_block .column3 h1{
    font-size: 28px;
    position: relative;
    display: block;
    font-style: normal;
    margin: 25px 0;
}
.wspolpraca_block .column2 h1 {
    color:#000;
}
.wspolpraca_block .column1 p,
.wspolpraca_block .column2 p,
.wspolpraca_block .column3 p
{
    display: block;
    width: 100% !important;
    color: #fff;
}
.wspolpraca_block .column2 p {
    color: #000;
}
.column1 .btn.btn-primary, .column2 .btn.btn-primary, .column3 .btn.btn-primary {
    margin:auto;
}
.radius {
        margin: auto;
    background: #4faaa4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    font-size: 32px;
    align-items: center;
    justify-content: center;
}
.column2 .radius {
    background:#fff;
    color: #000;
}
.column3 .radius {
    background:#000;
    color: #4faaa4;
}
.wspolpraca_block li {
        line-height: 26px;
    list-style-image: url(../img/li.png);
    margin: 10px 35px;
}
.wspolpraca_block .block_newsletter p,.wspolpraca_block .block_newsletter h2 {
    margin: auto;
}
.cms-id-9 .page_header {
    background-image: url('../img/faq_bg.jpg') !important;
}
.cms-id-9 h1 {
    font-size: 36px;
    font-weight: bold;
    font-family: inhert;
}
.cms-id-9 h1 strong {
    color:#00a9a4;
}
.cms-id-9 .block_newsletter .radius { 
color:#fff;
}
.cms-id-9 .block_newsletter {
    padding:0px 15px;
/*    margin:*/
clear:both;
}
/* Wysyłka */
.cms-id-11 .page_header {
    background-image: url(../img/wysylka_bg.jpg) !important;
}
.cms-id-11 .cennik_wysylka {
    background-image: url(../img/wysylka_cennik_bg.jpg) !important;
    width: 100%;
    color: #fff;
    position: relative;
    padding: 50px;
    border-collapse: inherit;
}
.cennik_wysylka tr:nth-child(1) td {
    color: #4faaa4;
}
.cennik_wysylka tr td {
    padding: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    border-collapse: collapse;
}
.wysylka_cennik_kraje {
    clear: both;
    background-image: url(../img/wysylka_cennik_kraje_bg.jpg) !important;
    width: 100%;
    color: #000;
    padding: 50px;
    position: relative;
    border-collapse: inherit;
}
.wysylka_cennik_kraje td {
    border-bottom: 1px solid rgba(0,0,0,0.25);
    padding: 5px;
}
table.cennik_wysylka:before, table.wysylka_cennik_kraje:before {
    content: "Cennik";
    position: absolute;
    right: 0;
    top: 0;
    font-size: 4rem;
    color: rgba(255,255,255,0.25);
    margin: 32px;
    /* font-weight: bold; */
    font-family: 'DM Serif Display', serif;
    font-style: italic;
}
table.wysylka_cennik_kraje:before  {
    color:#fff;
}
.cms-id-11  h1 {
    font-size: 48px;
}
.cms-id-11  h2 {
    font-size: 32px;
    word-break: break-word;
}
.cms-id-11  h1,.cms-id-11  p {
    margin:50px 0;
}
@media(max-width:520px) {
    .cennik_wysylka tr td {
        display:block;
        text-align: left;
    }
    .cms-id-11 .cennik_wysylka {
        padding:50px 15px;
    }
}
/* Reklamacje */
.cms-id-8 .page_header {
    background-image: url(../img/reklamacje_bg.jpg) !important;
}

.cms-id-8 .reklamacje_light_bg {
    float:left;
    padding:50px 0;
    text-align:center;
    margin:50px 0;
    background-image: url(../img/reklamacje_light_bg.jpg) !important;
}
@media(min-width:992px) {
.cms-id-8 .reklamacje_light_bg .col-20 {
    width:20%;
    float:left;
}
}
.cms-id-8 .block_newsletter {
    clear:both;
    margin:50px 0;
    display:inline-block;
}
    @media(max-width:991px) {
        .cms-id-8 .reklamacje_light_bg .col-20 {
        width:100%;
        float:left;
        }
    }
    span.badge.badge-info {
    background: #080808;
}
.mjfilter {
    
    background: #fbfbfb;
    margin: 0;
    padding: 10px;
    align-items: flex-end;
    display: flex;

}
@media(max-width:767px) {
    .mjfilter {
        display: block;
    }
    
}
.growl.growl-default {
    background:#fff;
    color:#000;
}
.productinfo {
    display:flex;
}
.productinfo .col-md-4 {
    width:25%;
}
.productinfo .col-md-8 {
    width:75%;
}
/* na mobile przykryje fbmessengera*/
#growls.bl {
    z-index: 9999999999;
}
.growl.growl-default.growl-large {
    opacity: 1;
    border:1px solid #eee;
}
.konfigurator_a
{
    cursor: pointer;
    font-weight: bold;
    display: block;
    clear: both;
    font-size: 18px;
}
.thumbnail-container h3.h3.product-title {
    height: 40px;
    overflow: hidden;
    margin-top: 10px !important;
}
.thumbnail-container .product-price-and-shipping {
    margin-top: 0px !important;
}
@media(min-width:768px) {
.col-md-25 {
    width:19.5%;
    display:inline-block;
    padding:15px;
}
.col-md-25 img {
    max-width: 125px;
}
}
@media(max-width:767px) {
.col-md-25 {
    width:100%;
    display:block;
}
.col-md-25 img {
    max-width: 125px;
}
.zadowoleni_klienci {
    text-align: center;
}
}
.zadowoleni_klienci {
    padding: 50px 0;
}
.zadowoleni_klienci a {
    color:#000;
}
.modal, .modal-open {
    overflow: auto;
}
#blockcart-modal + .modal-backdrop.fade.in {
    display:none;
}
@media(max-width:767px) {
    .blockcart-mobile img {
        filter:invert(1);
    }
    .blockcart-mobile .header {
        padding:10px;
        color:#fff;
    }
.blockcart-mobile {
 position: fixed;
 display: none;
bottom: 80px;
z-index: 9999 !important;
background: #00a9a4 !important;
left: 50%;
transform: translateX(-50%);
box-shadow: 0px 15px 20px -10px rgb(0, 0, 0);
}
#growls.bs {
    bottom:60px;
}
}
@media(min-width:768px) {
    .blockcart-mobile {
        display:none;
    }
}
iframe{
    max-width: 100%;
}
.instagram-feed-block .col-sm-3 {
    padding: 0;
    margin: 0;
}
.instagram-feed-block a {
    height: 350px !important;
}
@media(min-width:768px) and (max-width:991px) {
    .instagram-feed-block .col-sm-3 {
        width:50%;
    }
}
@media(max-width:767px) {
    .instagram-feed-block .col-sm-3 {
        width:100%;
    }
}
.banner_wspolpraca {
    padding:30px;
    background-image: url('../img/banner_wspolpraca_hurt.png') !important;
    background-size: cover;
    color: #fff !important;
    min-height: 280px;
}
.banner_wspolpraca p {
    color:#fff;
}
.banner_wspolpraca h2 {
    font-size: 24px;
    margin-top: 70px;
}
.kosmetyki_srodowisko {
    background-image: url(../img/bg_kosmetyk.jpg);
    background-position:center;
    background-size:cover;
    width: 100%;
    text-align: center;
    margin: 25px -15px;
    padding: 25px 0;
}
.kosmetyki_srodowisko .col-md-4 {
    text-align: center;
}
#mobile_top_menu_wrapper .top-menu .collapse-icons[aria-expanded="true"] .remove {
    display:inline-block;
}
#mobile_top_menu_wrapper .top-menu .navbar-toggler {
    width:100%;
}
#mobile_top_menu_wrapper .top-menu .navbar-toggler {
    display: inline-block;
    padding: 4px 25px;
    z-index: 9;
    position: relative;
}
.col-md-20 {
    float:left;
    width:20%;
}
@media(max-width:991px) {
    .col-md-20 {
        float:left;
        width:100%;
    }
}
.cms-id-14 .page_header {
    background-image: url('../img/gwiazdy_onas.jpg') !important;
}
.select-title {
    color: black !important;
}
#search_filters .facet .facet-title {
    font-size:18px !important;
}
.column_product .block-categories {
    display: none !important;
}
#search_filters {
    padding: 0 !important;
}
@media(min-width:992px) {
.products.crosseling {
    display:flex;
}
#header {
    position: sticky;
top: 0;
z-index: 999;
}
#header .header-nav {
    max-height: 35px;
}
}
@media(max-width:991px) {
    #header .header-nav {
            position: fixed;
    z-index: 999;
    width: 100%;
    top: 0px;
    }
    #ceneo-mobile-widget-bar {
/*        visibility: hidden;*/
        margin-top: 100px;
        z-index: 0;
    }
}
.blog.page-header {
    width:100%;
    height:400px;
    background-image: url(../img/blog_header.jpg);
    display:block;
    background-size:cover;
}
.flex-block {
    display: flex;
justify-content: center;
align-content: center;
height: 400px;
flex-flow: column;
}

.blog a {
    color:#000000 !important;
}