{extends file='cms/page.tpl'}

{block name='page_header_container'}
</section>
</div>
</div>
        {foreach $blog as $b}
        <div class="page_header" style='margin-top: -32px;width:100%;height:400px;background-position:center;background-size:cover;background-image: url("../modules/mjcmsfeatureblog/uploads/{$b['filename']}") !important;'>
        <div class="container">
            <div class='flex-block'>
            <h1>{$b['tytul']}</h1>
            </div>
    </div>
            
        </div>
    {/foreach}
        <section id="main">
            <div id="content-wrapper">
                <div class="container">
{/block}

{block name='page_content_container'}
    <div class="content_blog" style="margin:50px 0;">
{foreach from=$blog item=b}
 {$b['tresc'] nofilter}
{/foreach}
    </div>
{/block}