<div class='container'>

{foreach $gwiazdy as $key => $gwiazda}
    {if ($key % 3) == '0'}
        <div class='row'>
    {/if}
    {if $gwiazda['status'] == '1'}
    <div class='col-md-4' style='margin-top:25px;'>
        <div style='background-image: url(../{$urls.theme_assets}img/gwiazdy_placeholder.jpg);min-height: calc(444px - 25px);text-align:center;background-size:cover;padding:10px;'>
            {*<a href='{$gwiazda['url']}' target="_blank">*}
                <img src="../modules/mjgwiazdyonas/uploads/{$gwiazda['filename']}" style='margin-top:-25px;background-color:#000'/>
            {*</a>*}
        </div>
    </div>
    {/if}
    {if ($key % 3) == '2'}
    </div>
    {/if}
    {/foreach}
</div>
</div>